[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = store
[user]
	name = Ayden Jahola
	email = jaholaayden@gmail.com
	signingkey = 71DD90AE4AE92742
[push]
  autosetupremote = true
[alias]
	co = checkout
[init]
	defaultBranch = master
[commit]
	gpgsign = true

