* {
    main-bg:            #3D2767E6;
    main-fg:            #CC548F;
    main-br:            #B45C87;
    main-ex:            #46393E;
    select-bg:          #853A44;
    select-fg:          #C2D898;
}
